<div class="about">
    <div class="container">
        <div class="row gy-3">
            <div class="col-md-6">
                <h3> About Us</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ab vel libero eaque cum! Laboriosam qui harum aliquam repellat, odit aliquid saepe excepturi incidunt, quam fugit possimus fuga sapiente doloribus!
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, rerum. Totam, quos tenetur unde blanditiis quia ipsam nihil odit sint perspiciatis, quae officia porro dolorem, et accusamus numquam voluptatem inventore?
                    </p>
                </p>
                <a href="#" class="btn-read">Read more</a>
            </div>
            <div class="col-md-6">
               <img src="Image/First.jpeg" alt="feature-image">
            </div>
        </div>
    </div>
</div>