<div class="clients">
    <div class="container">
        <h3> Our Clients</h3>
        <div class="row gy-3">
            <div class="col-md-4">
                <div class="card">
                    <img src="../Image/First.jpeg" alt="..." class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Card Title</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores explicabo eum quos, tenetur dicta dolorem distinctio, omnis dolore fugit corporis veniam sit! Deleniti excepturi cum aut totam minima incidunt iusto.
                        </p>
                        <a href="#" class="btn btn-primary"> Go Somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../Image/First.jpeg" alt="..." class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores explicabo eum quos, tenetur dicta dolorem distinctio, omnis dolore fugit corporis veniam sit! Deleniti excepturi cum aut totam minima incidunt iusto.
                        </p>
                        <a href="#" class="btn btn-primary"> Go Somewhere</a>
    
                    </div>
                </div>
            </div>
 <div class="col-md-4">
                <div class="card">
                    <img src="../Image/First.jpeg" alt="..." class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores explicabo eum quos, tenetur dicta dolorem distinctio, omnis dolore fugit corporis veniam sit! Deleniti excepturi cum aut totam minima incidunt iusto.
                        </p>
                        <a href="#" class="btn btn-primary"> Go Somewhere</a>
    
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>